{% extends 'back/master.html' %}
{% load staticfiles %}

{% block headblock %}
    <script> function goback() {
        window.history.back()
    }
    </script>
{% endblock %}

{% block mainblock %}

    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Error<br><small>{{ error }}</small>
            </h1>
            </br>
            <button class="error__button error__button--active" onclick="goback()">BACK</button>
        </div>
    </div>

    <!-- END Datatables Header -->





{% endblock %}




{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock %}
