{% extends "front/base.html" %}
{%load staticfiles %}


{% block headblock %}
<title> {{site.name}} | Home</title>
{% endblock %}




{%block  mainblock %}
	<!-- Feature post -->

	<!-- Feature post -->
	<section class="bg0">
		<div class="row m-rl-0 justify-content-center">


			{% for lastnews in lastnews %}
			<div class="col-md-4 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-11 how1 pos-relative" style="background-image: url({{lastnews.picurl}});">
					<a href="{%url 'news_detail' lastnews.pk %}" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-18">
						<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
							{{lastnews.catname}}
						</a>

						<h3 class="how1-child2 m-t-14 m-b-10">
							<a href="{%url 'news_detail' lastnews.pk %}"" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
								{{lastnews.name}}
							</a>
						</h3>
					</div>
				</div>
			</div>
			{% endfor %}


		</div>
</section>

<br/><br/>


<section class="post bg0 p-t-85">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12">
				<div class="p-r-10 p-rl-0-sr991 p-b-20">

						{% for newscat in cat %}
						{% if newscat.count != 0 %}

					<!-- Life Style  -->
					<div class="p-b-25 m-r--10 m-r-0-sr991">
						<div class="how2 how2-cl5 flex-s-c m-r-10 m-r-0-sr991">
							<h3 class="f1-m-2 cl17 tab01-title">
								{{newscat.name}}
							</h3>
						</div>

						<div class="row p-t-35">
							<div class="col-sm-6 p-r-25 p-r-15-sr991">
								<!-- Item post -->

								{% for ab in news %}
								{% if newscat.pk == ab.ocatid %}
								<div class="flex-wr-sb-s m-b-30">
									<a href="{%url 'news_detail' ab.pk %}" class="size-w-1 wrap-pic-w hov1 trans-03">
										<img src="{{ab.picurl}}" alt="IMG">
									</a>

									<div class="size-w-2">
										<h5 class="p-b-5">
											<a href="{%url 'news_detail' ab.pk %}" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{ab.name}}
											</a>
										</h5>

										<span class="cl8">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{ab.catname}}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{ab.date}} | {{ab.time}}
											</span>
										</span>
									</div>
								</div>
								{% endif %}
								{% endfor %}




							</div>

							<div class="col-sm-6 p-r-25 p-r-15-sr991">
								<!-- Item post -->

								{%for pop in popnews%}
								{%if pop.show != 0 %}
								{%if newscat.pk == pop.ocatid %}
								<div class="flex-wr-sb-s m-b-30">
									<a href="{%url 'news_detail' pop.pk %}" class="size-w-1 wrap-pic-w hov1 trans-03">
										<img src="{{pop.picurl}}" alt="IMG">
									</a>

									<div class="size-w-2">
										<h5 class="p-b-5">
											<a href="{%url 'news_detail' pop.pk %}" class="f1-s-5 cl3 hov-cl10 trans-03">
												{{pop.name}}
											</a>
										</h5>

										<span class="cl8">
											<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
												{{pop.catname}}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{pop.date}} | {{pop.time}}
											</span>
										</span>
									</div>
								</div>
								{%endif%}
								{%endif%}
								{%endfor%}



							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}

				</div>
			</div>


		</div>
	</div>
</section>


{%endblock%}
